* {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    text-align: center;
}

img {
    background-color: #0084FF;
}

.headings {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1cm;
}

.container {
    margin:30px;
    display:flex;
    flex-flow: row wrap;
    padding:5px; /* this */
}

.item {
    background-color: #0084FF;
    flex:1 1 auto;
    text-align:center;
    margin:15px;  /* and that, will result in a 10px gap */
    height: 400px;
    width: 300px;
    font-size: 1cm;
    border: seagreen solid 5px;
}