<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Required style tags -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css') }}">
    <!-- Required script tags -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div class="upper">
        Welcome to COVID-19 Statistic search engine
    </div>

    <div class="searchEngineLogo">
      <img src="{{ url_for('static',filename='images/coronavirusGIF.gif') }}" alt="ERROR: LOGO UNAVAILABLE">
    </div>
<form action="{{url_for('get_country')}}" method="post">
    <div class="cntr">
      <div class="cntr-innr">
        <label class="search" for="inpt_search">
            <input id="inpt_search" type="text" name="textBoxData"/>
        </label>
        <p>Hover to search</p>
      </div>
    </div>
  </form>
    <!-- Required script tags -->
    <script type="text/javascript" src="{{url_for('static', filename='JavaScript/homeJS.js')}}"></script>
 
    </body>
</html>